<div class="w-full max-w-lg mx-auto">
  <div class="rounded-lg shadow-lg p-12 text-xs mt-8 mx-4 sm:mx-0 bg-white">
    <div>
      <div class="flex flex-col">
        <h1 class="text-gray-800 text-xl font-medium mb-2">Receipt</h1>
        <p class="text-gray-600 text-xs">Date: 05.03.22</p>
        <p class="text-gray-600 text-xs">Order Number: <%= @stuff.stuff_code %></p>
      </div>
      <hr class="my-4">
      <div>
        <div class="flex justify-between items-center">
          <span class="font-medium text-base"><%= @stuff.stuff_name%></span><span class="text-base font-medium">$15.00</span>
        </div>
        <div class="mb-4 flex justify-between items-center">
          <span>Full name: <%= @payment.payer_name %></span><span class=""></span>

        <hr class="my-4">
        <div class="flex justify-between items-center">
          <span>Shipping Costs:</span><span class="">$0.00</span>
        </div>
        <div class="mb-2 flex justify-between items-center">
          <span>Taxes & Fees</span><span class="">$8.36</span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-lg font-medium">Total</span><span class="text-lg font-medium">$96.06</span>
        </div>
      </div>
    </div>
  </div>
</div>

